<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/}" th:object="${form}"
      method="POST">
    <table>
        <tr>
            <td>First Name:</td>
            <td><input th:field="*{firstName}"></td>
            <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input th:field="*{lastName}"></td>
            <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</td>
        </tr>
        <tr>
            <td>PhoneNumber</td>
            <td><input type="text" th:field="*{phoneNumber}"/></td>
            <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"> Error</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td><input th:field="*{age}"></td>
            <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}"> Error</td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" th:field="*{email}"/></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> Error</td>
        </tr>
    </table>
    <button type="submit">submit</button>
</form>
</body>
</html>